@model KendoGlobal.Models.JobViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="jobGrid"></div>
<br/>
@{ Html.EnableClientValidation(); }

@using (Html.BeginForm("JobApi/Post", "api", FormMethod.Post, new {id = "storesForm"}))
{
    <div class="jobLine">
        <span class="jobLabel">Id: </span>
        <span data-bind="html: id"></span>
    </div>
    <div class="jobLine">
        <span class="jobLabel">Name: </span>
        <input class="k-textbox" data-bind="value: name" id="name" type="text"/>
    </div>
    <div class="jobLine">
        <span class="jobLabel">Percent: </span>
        <input id="percent" type="text"/>
    </div>
    <div class="jobLine">
        <span class="jobLabel">Price: </span>
        <input id="price" type="text"/>
    </div>
    <div class="jobLine">
        <span class="jobLabel">Start: </span>
        <input id="start" type="text"/>
    </div>
    <div class="jobLine">
        <span class="jobLabel">End: </span>
        <input id="end" type="text"/>
    </div>
}

<script src="@Url.Content("~/Scripts/jobViewModel.js")"></script>
<script>
    (function() {
        var viewModel = jobViewModel();
        viewModel.setObservables();
        $("#jobGrid").kendoGrid({
            autoBind: true,
            change: viewModel.onJobGridChange,
            filterable: false,
            groupable: false,
            height: "300px",
            pageable: true,
            resizeable: true,
            selectable: "single, row",
            sortable: {
                mode: "single",
                allowUnsort: false
            },
            dataSource: {
                pageSize: 30,
                type: "json",
                transport: {
                    read: function(options) {
                        $.ajax({
                            url: "api/JobApi/GetJobs",
                            success: function(result) {
                                options.success(result);
                            },
                            type: "GET"
                        });
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Percent: { type: "number" },
                            Price: { type: "number" },
                            Name: { type: "string" },
                            StartDate: { type: "date" },
                            EndDate: { type: "date" }
                        }
                    }
                }
            },
            columns: [
                {
                    field: "Id",
                    title: "Job Id",
                    width: "70px"
                },
                {
                    field: "Name",
                    title: "Name",
                    width: "280px"
                },
                {
                    field: "Percent",
                    format: "{0:p}",
                    title: "Percent",
                    width: "110px"
                },
                {
                    field: "Price",
                    format: "{0:c}",
                    title: "Price",
                    width: "110px"
                },
                {
                    field: "StartDate",
                    format: "{0:d}",
                    title: "Start",
                    width: "110px"
                }, {
                    field: "EndDate",
                    format: "{0:d}",
                    title: "End",
                    width: "110px"
                }]
        });
        viewModel.jobGridData = $("#jobGrid").data('kendoGrid');
        $("#percent").kendoNumericTextBox({ format: "p" });
        viewModel.percentData = $("#percent").data('kendoNumericTextBox');
        $("#price").kendoNumericTextBox({ format: "c" });
        viewModel.priceData = $("#price").data('kendoNumericTextBox');
        var start = $("#start").kendoDatePicker({
            change: function() {
                var endDate = end.value();

                if (endDate) {
                    endDate = new Date(endDate);
                    endDate.setDate(endDate.getDate() - 1);
                    start.max(endDate);
                }
            },
            format: "d"
        }).data("kendoDatePicker");
        var end = $("#end").kendoDatePicker({
            change: function() {
                var endDate = end.value();

                if (endDate) {
                    endDate = new Date(endDate);
                    endDate.setDate(endDate.getDate() - 1);
                    start.max(endDate);
                }
            },
            format: "d"
        }).data("kendoDatePicker");
        start.max(end.value());
        end.min(start.value());
        viewModel.startDateData = start;
        viewModel.endDateData = end;
    })();
</script>
