@model KendoGlobal.Models.BaseViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<div>
    <span class="jobLabel">Culture: </span>
    <input id="culture" />
</div>
<br/>
<div id="jobGrid"></div>
<br/>
<div class="jobLine">
    <span class="jobLabel">Id: </span>
    <span data-bind="html: id"></span>
</div>
<div class="jobLine">
    <span class="jobLabel">Name: </span>
    <input class="k-textbox" data-bind="value: name" id="name" type="text"/>
</div>
<div class="jobLine">
    <span class="jobLabel">Start: </span>
    <input id="start" type="text"/>
</div>
<div class="jobLine">
    <span class="jobLabel">End: </span>
    <input id="end" type="text"/>
</div>

<script src="@Url.Content("~/Scripts/jobViewModel.js")"></script>
<script>
    (function() {
        var viewModel = jobViewModel();
        viewModel.setObservables();
        kendo.culture('@Model.Culture');
        alert('@Model.Culture');
        alert(kendo.culture().calendar.patterns.d);
        $('#culture').kendoComboBox({
            change: viewModel.onCultureChange,
            dataTextField: "Value",
            dataValueField: "Key",
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "api/CultureApi/GetCultures",
                        dataType: "json",
                        type: "GET"
                    }
                }
            },
            filter: "contains",
            suggest: true,
            value: '@Model.Culture'
        });
        viewModel.cultureData = $('#culture').data('kendoComboBox');
        $("#jobGrid").kendoGrid({
            autoBind: true,
            change: viewModel.onJobGridChange,
            filterable: false,
            groupable: false,
            height: "300px",
            pageable: true,
            resizeable: true,
            selectable: "single, row",
            sortable: {
                mode: "single",
                allowUnsort: false
            },
            dataSource: {
                pageSize: 30,
                type: "json",
                transport: {
                    read: function(options) {
                        $.ajax({
                            url: "api/JobApi/GetJobs",
                            success: function(result) {
                                options.success(result);
                            },
                            type: "GET"
                        });
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Name: { type: "string" },
                            StartDate: { type: "date" },
                            EndDate: { type: "date" }
                        }
                    }
                }
            },
            columns: [
                {
                    field: "Id",
                    title: "Job Id",
                    width: "70px"
                },
                {
                    field: "Name",
                    title: "Name",
                    width: "280px"
                }, {
                    field: "StartDate",
                    title: "Start",
                    width: "110px"
                }, {
                    field: "EndDate",
                    title: "End",
                    width: "110px"
                }]
        });
        viewModel.jobGridData = $("#jobGrid").data('kendoGrid');
        var start = $("#start").kendoDatePicker({
            change: function() {
                var endDate = end.value();

                if (endDate) {
                    endDate = new Date(endDate);
                    endDate.setDate(endDate.getDate() - 1);
                    start.max(endDate);
                }
            },
            format: kendo.culture().calendar.patterns.d
        }).data("kendoDatePicker");
        var end = $("#end").kendoDatePicker({
            change: function() {
                var endDate = end.value();

                if (endDate) {
                    endDate = new Date(endDate);
                    endDate.setDate(endDate.getDate() - 1);
                    start.max(endDate);
                }
            },
            format: kendo.culture().calendar.patterns.d
        }).data("kendoDatePicker");
        start.max(end.value());
        end.min(start.value());
        viewModel.startDateData = start;
        viewModel.endDateData = end;
    })();
</script>
